[user]
  email = dimvad@gmail.com
  name = Dmitry Merzlov
[core]
  autocrlf = true
  safecrlf = warn
  quotepath = off
  editor = vim
[alias]
  s = status
  co = checkout
  ci = commit
  cob = checkout -b
  del = branch -D
  type = cat-file -t
  dump = cat-file -p
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  save = !git add -A && git commit -m 'chore: savepoint'
  undo = reset HEAD~1 --mixed
  res = !git reset --hard
  done = !git push origin HEAD
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
[pull]
  rebase = false
[fetch]
  prune = false
[rebase]
  autoStash = false
  autosquash = false
  updateRefs = false
